{% extends "base.html" %}

{% block content %}
<div class="form-bg">
  <form method="post" class="ui form form-box">
    {% csrf_token %}
    <h2>Sign Up</h2>
    <hr>
    <div class="field">
      <label>Name</label>
      <input type="text" placeholder="Eg - Akshita Jain" name="name">
    </div>
    <div class="field">
      <label>E-mail</label>
      <input type="email" placeholder="Eg - akshita@gmail.com" name="email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" placeholder="Eg - *********" name="pass">
    </div>
    <div class="field">
      <label>Company's Name</label>
      <input type="text" placeholder="Eg - GIVA" name="company">
    </div>
    <div class="field">
      <label>Phone No.</label>
      <input type="text" placeholder="Eg - 91-9645384751" name="phone">
    </div>
    <button type="submit" class="btn btn-light">Get Started</button>
    <a href="{% url 'employer:employerLogin_view' %}" >Already have an account? Sign-in here.</a>
  </form>
</div>
{% endblock %}
